body{
    background-color: black;
}

.central-block{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #00ff0e;
    font-family: courier;
    min-width: 750px;
}

.console-input{
    height: 3px;
    opacity: 0;
}

#cmd {
    font-family: courier;
    font-size: 32px;
    font-weight: bold;
    background: black;
    color: #00ff0e;
    padding: 5px;
    overflow: hidden;
}

#cmd span {
    float: left;
    padding-left: 3px;
    white-space: pre;
}

#cursor {
    float: left;
    width: 8px;
    height: 35px;
    background: #00ff0e;
}
