body {
    background-color: black;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.riddle-button {
    position: absolute;
    transform: translate(-50%, -50%);
}

.riddle-button:focus {
    outline: none;
}

.ip-label {
    position: absolute;
}

input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
  z-index   : 10;
}

input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
  transform: translate(59%, -50%);
}

input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 2px solid green;
  border-radius    : 0.5em;
  background       : rgb(0,20,0);
  vertical-align   : bottom;
}

input[type=radio]:not(old):checked + label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.5em;
  background       : rgb(0, 255, 0);
}

a {
    color: green;
    font-family: monospace;
    text-decoration: none;
    font-size: 14px;
    line-height: 28px;
}

#answer-div {
    position: absolute;
    display: none;
    left: 28%;
    bottom: 10%;
}

#layers input {
    background-color: green;
    border-color: darkgreen;
    position: absolute;
    font-family: monospace;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#layers input:active {
    background-color: rgb(0, 70, 0);
}

#layers input:focus {
    outline: none;
}

#answer-div input  {
    background-color: black;
    border-color: green;
    border-style: solid;
    border-width: 3px;
    font-size: 20px;
    color: green;
    font-family: monospace;
    font-weight: bold;
    padding: 10px;
    top: 83%;
    left: 29%;
}

#answer-div input:focus {
    outline: none;
}
/*
#problems input {
  -webkit-appearance: none;
  display: block;
  margin: 10px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;
  background-color: hsla(0,0%,0%,.2);
  background-image: -webkit-radial-gradient( hsla(200,100%,90%,1) 0%, hsla(200,100%,70%,1) 15%, hsla(200,100%,60%,.3) 28%, hsla(200,100%,30%,0) 70% );
  background-repeat: no-repeat;
  -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
    -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
  outline: none;
}

#problems input:checked {
  -webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
    -webkit-transform .25s cubic-bezier(0, 0, .2, 1);
}

#problems input:active {
  -webkit-transform: scale(1.5);
  -webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
}

#problems input, input:active {
  background-position: 0 24px;
}

#problems input:checked {
  background-position: 0 0;
}
#problems input:checked ~ input, input:checked ~ input:active {
  background-position: 0 -24px;
}*/
